@import "../variable.scss";

.pokemondetail-page {
	width: 100% !important;
	.pd-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 20px;
		.btn-catch {
			border-radius: 15px;
			font-weight: bold;
			margin: 20px;
			width: 80%;
			align-self: center;
			padding: 10px;
		}
		.pokemondetail-container {
			margin-top: 20px;
			display: grid;
			grid-template-columns: 50% 50%;
			justify-content: center;
			width: 100%;
			@media screen and (max-width: 1152px) {
				display: flex;
				flex-direction: column;
			}
		}
		.poke-name {
			margin-top: 20px;
			font-size: xx-large;
			font-weight: bold;
			color: #313131;
		}
		.poke-img {
			border-radius: 25px;
			// max-width: 600px;
			border: 2px solid #313131;
			background-color: #e5e5e5;
			align-self: center;
			width: 80%;
		}
		.right-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			@media screen and (max-width: 1152px) {
				align-items: center;
			}
		}
		.typeandsize-container {
			width: 80%;
			border-radius: 25px;
			background-color: #effcd5;
			padding: 10px;
		}
		.bodysize-container {
			border-radius: 25px;
			padding: 20px;
			align-self: left;
			display: flex;
			flex-direction: row;
			.bodysize-item {
				text-align: left;
				text-decoration: underline;
				font-size: 20px;
				font-weight: bold;
				color: #0c3348;
			}
			.bodysize-number {
				font-size: 18px;
				color: #0c3348;
			}
		}
		.detail-container {
			border-radius: 25px;
			padding: 20px;
			align-self: left;
			display: flex;
			flex-direction: column;
			&-stats {
				background-color: #0c3348;
				width: 80%;
				margin-top: 40px;
				align-self: center;
				.container-title {
					text-align: left;
					font-size: 20px;
					font-weight: bold;
					color: #effcd5;
				}
				.poke-stats {
					display: grid;
					grid-template-columns: 33% 33% 33%;
					margin-top: 20px;
					padding: 10px;
					border-radius: 15px;
					background-color: #f5f5f5;
					align-self: center;
					width: 100%;
					div {
						text-align: left;
						font-size: large;
					}
				}
			}
			&-type {
				background-color: #ffffff;
				.container-title {
					text-align: left;
					text-decoration: underline;
					font-size: 20px;
					font-weight: bold;
					color: #0c3348;
				}
				.moves-container {
					display: grid;
					grid-template-columns: 33% 33% 33%;
					margin-top: 10px;
					div {
						text-align: left;
					}
				}
				.type-container {
					display: flex;
					flex-direction: row;
					margin-top: 10px;
					.poke-type {
						border-radius: 25px;
						padding: 10px;
						min-width: 80px;
						margin: 0px 10px;
						&.bug-type {
							background-color: #729f3f;
							color: white;
						}
						&.dragon-type {
							background-color: #f16e57;
							color: white;
						}
						&.fairy-type {
							background-color: #fdb9e9;
							color: black;
						}
						&.fire-type {
							background-color: #fd7d24;
							color: white;
						}
						&.ghost-type {
							background-color: #7b62a3;
							color: white;
						}
						&.ground-type {
							background-color: #ab9842;
							color: black;
						}
						&.normal-type {
							background-color: #a4acaf;
							color: black;
						}
						&.psychic-type {
							background-color: #f366b9;
							color: white;
						}
						&.steel-type {
							background-color: #616161;
							color: black;
						}
						&.dark-type {
							background-color: #707070;
							color: white;
						}
						&.electric-type {
							background-color: #eed535;
							color: black;
						}
						&.fighting-type {
							background-color: #d56723;
							color: white;
						}
						&.flying-type {
							background-color: #3dc7ef;
							color: black;
						}
						&.grass-type {
							background-color: #9bcc50;
							color: black;
						}
						&.ice-type {
							background-color: #51c4e7;
							color: black;
						}
						&.poison-type {
							background-color: #b97fc9;
							color: white;
						}
						&.rock-type {
							background-color: #a38c21;
							color: white;
						}
						&.water-type {
							background-color: #4592c4;
							color: white;
						}
					}
				}
			}
		}
	}
}
